span {
  cursor: pointer;
}

.agencies {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agencies-anouncer{
  text-align: center;;
}

.agency-a-calendar{
  display: none;
}

.agency-b-calendar{
  display: none;
}